<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite>
            <directory>./tests/src/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory>src/Common/Model/Gateway/Base.php</directory>
                <directory>src/Common/Model/Storage/Database.php</directory>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
</phpunit>
